<center> <img src ="https://i.postimg.cc/1X8H7YYt/BITS-Logo.png" width = "400" alt="BITS Pilani Logo" /> </center>

<font color='green'> <h1> <center> Python - Lists </center> </h1> </font>

Lists are ordered collection of elements. The elements can be of any type like strings, numbers, booleans, lists, tuples etc. Each element of list has an address associated with it i.e. index. This index can be used to get access to the list elements.

<b>Creation<b>

Empty list can be created with two ways. Usually [] brackets are used to define a list , whereas the list() function is used for the creation of list from other collection.

In [1]:
empty_list = [] 
empty_list

[]

In [2]:
other_empty_list = list()
other_empty_list

[]

List can have multiple element into it.

In [3]:
my_number_list = [1, 2, 3, 4, 5, 6, 7]
my_number_list

[1, 2, 3, 4, 5, 6, 7]

But it can hold elements of different kind as well.

In [2]:
my_mixed_list = [1, 1.1, 'a', True]
my_mixed_list

[1, 1.1, 'a', True]

Type of list can be checked with type() funtion.

In [5]:
type(my_mixed_list)

list

Type of individual elements can be checked by accessing them with index.

In [6]:
type(my_mixed_list[0])  #first element is integer

int

In [7]:
type(my_mixed_list[1])  #second element is float

float

In [3]:
type(my_mixed_list[3])

bool

Length of list can be determined using the len() fuction.

In [8]:
len(my_number_list)

7

In [9]:
len(my_mixed_list)

4

List can be printed using the print() function.

In [10]:
print(my_number_list)

[1, 2, 3, 4, 5, 6, 7]

In [11]:
print(my_mixed_list)

[1, 1.1, 'a', True]

<b>Concatenation and Repetition<b>

'+' can be used to add one list to the another.

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5]
join_list = list1 + list2
join_list

[1, 2, 3, 4, 5]

'*' can be used to repeat the elements of the list.

In [4]:
list3 = [1, 2, 3] * 3 # repeat the element 1,2,3 three times in a list
list3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [14]:
[0] * 5 # repeat the element zero five times in a list

[0, 0, 0, 0, 0]

<b> Indices<b>

Index is the location where the list element is present in the list. List elements are ordered i.e. they maintain the order in which they are inserted into the list. Indexing starts from zero.

In [15]:
my_list = [1, 1.1, 'a', True]
my_list

[1, 1.1, 'a', True]

In [16]:
my_list[0]  # access first element of list

1

In [18]:
my_list[len(my_list) - 1] # aceess the last element of list

True

Negative indexing is also allowed on the lists.

In [19]:
print(my_list[0] , "    " , my_list[-4])
print(my_list[1] , "    " , my_list[-3])
print(my_list[2] , "    " , my_list[-2])
print(my_list[3] , "    " , my_list[-1])

1      1
1.1      1.1
a      a
True      True

<b> Slicing <b>

Slice is portion of list accessed using the indices. [] operator allows us to extract part of list using the indices.

In [20]:
my_list = [1, 1.1, 'a', True]
my_list

[1, 1.1, 'a', True]

In [21]:
my_list[ : ]  # extracts complete list

[1, 1.1, 'a', True]

In [22]:
my_list[ 0 : 3 ]  # extracts first three elements of list

[1, 1.1, 'a']

In [23]:
my_list[ 2 : 3 ]  # extracts third element of list

['a']

In [24]:
my_list[ 3 :  ]  # extract all elements of list from thrid element onwards

[True]

In [25]:
my_list[  : 2 ]  # extracts first two elements of list

[1, 1.1]

In [26]:
my_list[ 0 : 4 : 2] # from first to fourth element, extract every second element

[1, 'a']

In [27]:
my_list[-2 : ] # extract last two elements of list

['a', True]

<b>The in operator<b>

The in operator is helpful to find out if a list contains an element in it or not.

In [28]:
my_list = [1, 1.1, 'a', True]
my_list

[1, 1.1, 'a', True]

In [29]:
1 in my_list  # check whether 1 is present in list

True

In [30]:
1 not in my_list # check whether 1 is not present in list

False

In [31]:
'this' in my_list #check whether 'this' is present in the list or not

False

<b>Looping<b>

One can iterate over the elements present in the list using the for loop.

In [32]:
my_list = [1, 1.1, 'a', True]
my_list

[1, 1.1, 'a', True]

In [35]:
for element in my_list:
    print(element)

1
1.1
a
True

In [37]:
for i in range(len(my_list)):
    print( "(", i, ") element -----> ", my_list[i])

( 0 ) element ----->  1
( 1 ) element ----->  1.1
( 2 ) element ----->  a
( 3 ) element ----->  True

<b> Built-in fuctions<b>

Some useful built in functions available on the list containing elements of same type :

In [38]:
my_number_list = [1, 2, 3, 4, 5]
my_number_list

[1, 2, 3, 4, 5]

sum() can be used to get sum of all elements in list.

In [39]:
sum(my_number_list)

15

min() can be used to get minimum value out of all elements in list.

In [40]:
min(my_number_list)

1

max() can be used to get maximum value out of all elements in list.

In [41]:
max(my_number_list)

5

<b> List aliasing<b>

The same list can be referred by two different list variables. Changing the one list affects the other as well.

In [5]:
list1 = [1, 2, 3, 4, 5]
print("Original list1")
print("list1---->   ", list1)

print()

list2 = list1  # list2 is referring to list1, both having same elements
print("List2 is referring to list1, both having same elements")
print("list1---->   ", list1)
print("list2---->   ", list2)


print()
#Alter the element of list1 , both lists will get altered
list1[0] = 'a' #change first element of list1 
print("After aletring the first element of list1, list2 is also altered")
print("list1---->   ", list1)
print("list2---->   ", list2)

print()
#Alter the element of list2 , both lists will get altered
list2[3] = '******' #change fourth element of list2
print("After aletring the fourth element of list2, list1 is also altered")
print("list2---->   ", list2)
print("list1---->   ", list1)

Original list1
list1---->    [1, 2, 3, 4, 5]

List2 is referring to list1, both having same elements
list1---->    [1, 2, 3, 4, 5]
list2---->    [1, 2, 3, 4, 5]

After aletring the first element of list1, list2 is also altered
list1---->    ['a', 2, 3, 4, 5]
list2---->    ['a', 2, 3, 4, 5]

After aletring the fourth element of list2, list1 is also altered
list2---->    ['a', 2, 3, '******', 5]
list1---->    ['a', 2, 3, '******', 5]

<b> List copying<b>

In order to avoid the side effect, list elements can be copied using the following way. By that way, alterations in one list does not affect the elements in the other list from which its copied.

There are three ways of list copying. <br>
    new_list = orig_list.copy()<br>
    new_list = orig_list[:] <br>
    new_list = list(orig_list) <br>

In [43]:
list1 = [1, 2, 3, 4, 5]
print("Original list1")
print("list1---->   ", list1)

print()

list2 = list1[:]  # copy all elements of list1 into list2
print("List1 and list2 are two different list , both having same elements")
print("list1---->   ", list1)
print("list2---->   ", list2)


print()
#Alter the element of list1 
list1[0] = 'a' #change first element of list1 
print("After aletring the first element of list1, list2 is not altered")
print("list1---->   ", list1)
print("list2---->   ", list2)

print()
#Alter the element of list2 
list2[3] = '******' #change fourth element of list2
print("After aletring the fourth element of list2, list1 is not altered")
print("list2---->   ", list2)
print("list1---->   ", list1)

Original list1
list1---->    [1, 2, 3, 4, 5]

List1 and list2 are two different list , both having same elements
list1---->    [1, 2, 3, 4, 5]
list2---->    [1, 2, 3, 4, 5]

After aletring the first element of list1, list2 is not altered
list1---->    ['a', 2, 3, 4, 5]
list2---->    [1, 2, 3, 4, 5]

After aletring the fourth element of list2, list1 is not altered
list2---->    [1, 2, 3, '******', 5]
list1---->    ['a', 2, 3, 4, 5]

# Exercise

Q1. Write a program that accepts 5 integers from the user. Store those integers as part of list. Output the following without using any of the built-in fuction available : <br>
    (a) square of all the integers in the list <br>
    (b) sum of all the integers in the list    <br>
    (c) product of all the integers in the list <br>

In [ ]:
#Try it here

Q2. Write a program that will reverse the elements of the list without using any built-in function.

In [ ]:
#Try it here

Q3. Start with the list [ 8, 9 , 10]. Do the following :<br>
    (a) Set the second entry to 17 <br>
    (b) Add 4,5, and 6 to the end of list<br>
    (c) Remove the first entry from the list<br>
    (d) Double the list<br>
    (e) Insert 25 at the index 3 <br><br>
    
    The final list should look like [17, 10, 4, 25, 5, 6, 17, 10, 4, 5, 6 ]

In [ ]:
#Try it here

# Answer

In [58]:
count = 5
number_list = []

for i in range(count):
    number = int(input("Enter an integer\n"))
    number_list.append(number)

print(number_list)

Enter an integer
23
Enter an integer
45
Enter an integer
67
Enter an integer
89
Enter an integer
11
[23, 45, 67, 89, 11]

In [62]:
number_list = [23, 45, 67, 89, 11]
sum = 0 
product = 1 
sq_number_list = []

for number in number_list:
    sum = sum + number
    product = product * number
    square = number * number 
    sq_number_list.append(square)
    
print(sq_number_list)

[529, 2025, 4489, 7921, 121]

In [59]:
#Q1 Solution

count = 5

number_list = []

for i in range(count):
    number = int(input("Enter an integer\n"))
    number_list.append(number)

sum = 0 
product = 1 
sq_number_list = []

for number in number_list:
    sum = sum + number
    product = product * number
    square = number * number 
    sq_number_list.append(square)
    
    
print()
print("The sum of all numbers is " , sum)
print("The product of all numbers is " , product)
print("The square of number is")
for i in range(len(number_list)):
    print("number-->  ", number_list[i], "   square --->", sq_number_list[i])

Enter an integer
23
Enter an integer
45
Enter an integer
67
Enter an integer
89
Enter an integer
98

The sum of all numbers is  322
The product of all numbers is  604827090
The square of number is
number-->   23    square ---> 529
number-->   45    square ---> 2025
number-->   67    square ---> 4489
number-->   89    square ---> 7921
number-->   98    square ---> 9604

In [2]:
#Q2 Solution

orig_list = ['a', 'b', 'c', 'd', 'e']

orig_list

length = len(orig_list)
length = length * (-1)

for i in range(-1, length - 1,-1):
    print(orig_list[i])

e
d
c
b
a

In [3]:
length = len(orig_list)
length = length * (-1)
print(length)

-5

In [56]:
list(range(-1,-6,-1))

[-1, -2, -3, -4, -5]

In [47]:
#Q3 Solution

L = [ 8, 9 , 10]
print("Original list ", L)

#(a) Set the second entry to 17 
L[1] = 17 
print()
print("(a) Set the second entry to 17--->", L)

#(b) Add 4,5, and 6 to the end of list
L.extend([4,5,6])
print()
print("(b) Add 4,5, and 6 to the end of list--->", L)

#(c) Remove the first entry from the list
L.remove(L[0])
print()
print("(c) Remove the first entry from the list--->", L)

#(d) Double the list
L = L * 2
print()
print("(d) Double the list--->", L)


#(e) Insert 25 at the index 3 
L.insert(3, 25)
print()
print("(d) Double the list--->", L)

Original list  [8, 9, 10]

(a) Set the second entry to 17---> [8, 17, 10]

(b) Add 4,5, and 6 to the end of list---> [8, 17, 10, 4, 5, 6]

(c) Remove the first entry from the list---> [17, 10, 4, 5, 6]

(d) Double the list---> [17, 10, 4, 5, 6, 17, 10, 4, 5, 6]

(d) Double the list---> [17, 10, 4, 25, 5, 6, 17, 10, 4, 5, 6]